<%- include('../partials/header') %> 

<img class="logo" src="/images/logo.png" alt="logo">

<div class= 'formbox'>
<form method='get' action='/getname' class='signin-form'>
    <label for='firstName'>First name</label>
    <div><input type='text' name='firstName' placeholder="Your First Name!" /></div>
    <div><button type='submit'>Submit</button></div>
</form>
</div>

<%- include('../partials/footer') %> 